@tailwind base;
@tailwind components;
@tailwind utilities;

.notification {
  border: solid;
  padding: 10;
  borderwidth: 1;
  marginbottom: 5;
}

.input-form {
  background: lightgrey;
  border-radius: 5px;
}
